<p>Hi <%= @manager_name %>,</p>

<p>We have a booking for you.</p>
<h3>Where</h3>
<p>
  Venue: <%= @venue %><br>
  Theatre: <%= @theatre %>
</p>

<h3>When</h3>
<p>
  Date: <%= @date %><br>
  Time: <%= @start_time %> to <%= @end_time %>
</p>

<h3>Who</h3>
<p>
  Name:  <%= @customer_name %><br>
  Phone: <%= @customer_phone %><br>
  Email: <%= @customer_email %><br>
  Notes: <%= @customer_notes %>
</p>

<h3>Click <a href="https://www.playogo-v1.herokuapp.com/manager/confirm_booking/<%= @booking_id %>">here</a> to process this booking.</h3>

<p> If the above link fails, copy and paste the following address into your web browser: https://www.playogo.com/manager/confirm_booking/<%= @booking_id %></p> 

<br>

<p>Enjoy the day,</p>
<p>Playogo Team</p>