<script> 
  schedule_tree = JSON.parse('<%= @scheduleTree.to_json.html_safe %>');
</script>

<div class="container">

<p id="notice"><%= notice %></p>

<h1>Venues</h1>

<div id="month-nav-container">

</div>

<div id="day-nav-container">

</div>

<div id="hours-row-container">

</div>

<div id="venue-rows-container">

</div>

<!--
  Avails Schedule Month Navigation Template
-->
<script id="avails-month-template" type="text/template">
  <h3>
    <button class="btn btn-warning">current month</button>
    <button class="btn btn-warning">date to date</button>
  </h3>
</script>

<!--
  Avails Schedule Day Navigation Template
-->
<script id="avails-days-template" type="text/template">
  <ul class="day-tabs">
    <li class="outer-tab"><a><span class="glyphicon glyphicon-backward"></span></a></li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="outer-tab"><a><span class="glyphicon glyphicon-forward"></span></a></li>
  </ul>
</script>

<!--
  Avails Schedule Hours Template
-->
<script id="avails-hours-template" type="text/template">
  // <div class="name-col"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="hour"></div><div class="clearfix"></div>
</script>

<!--
  Avails Schedule Venue Row Template
-->
<script id="avails-venue-template" type="text/template">
  <div>
    <div>
    </div>
  </div>
</script>



<br>

<!--
  Stripe checkout form.
    -change data-key for deployment
    -can customize (https://stripe.com/docs/checkout#integration-custom)
    -hidden input 'stripeToken'
-->

<form id="payment-form" action="/venues/ice_booking" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_1Di5chkNtgIMHyHZ6pbKLOrD"
    data-amount="2000"
    data-name="Playogo"
    data-description="2 widgets ($20.00)"
    data-image="">
  </script>
  <input type="hidden" name="venue" value="venue1">
  <input type="hidden" name="theatre" value="theatre1">
  <input type="hidden" name="date" value="2015-03-01">
  <input type="hidden" name="start_time" value="43200">
  <input type="hidden" name="length" value="18000">
  <input type="hidden" name="amount" value="2000">
  <input type="hidden" name="nav_date" value="2020-01-01">
  <input type="hidden" name="first_name" value="Mooster">
  <input type="hidden" name="last_name" value="Booster">
  <input type="hidden" name="phone" value="3069753958">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
</form>

<p><%= @scheduleTree.to_json %></p>
<br>

<%= link_to 'New Venue', new_venue_path %>
</div>
