<p>Hi <%= @name %>,</p>

<p>
  <%= @owner %> will be processing your booking within the next <%= @processing_hours %> business hours. Thank you for your patience.
</p>

<p>Here are the details:</p>
<p><b>Where:</b> <%= @venue %> - <%= @theatre %> </p>
<p><b>When:</b> <%= @start_time %> - <%= @end_time %> on <%= @date %> </p>


<p>
  <b>Your next step:</b> Wait for <%= @owner %> to follow up with you.
</p>

<p>
  Please reply to this email if you have any feedback or concerns.
</p>

<p>Enjoy the day,</p>

<p>Playogo Team</p>