<p>Hi <%= @name %>,</p>

<p>
  <%= @owner %> will be processing your booking within the next 12 business hours. Thank you for your patience.
</p>

<p>Here are the details:</p>
<p><b>Where:</b> <%= @venue %> - <%= @theatre %> </p>
<p><b>When:</b> <%= (Time.zone.parse("12:00am") + @start_time.seconds).strftime("%l:%M%P") %> - 
  <%= (Time.zone.parse("12:00am") + @start_time.seconds + @length.seconds).strftime("%l:%M%P") %> on 
  <%= Date.parse(@date).strftime("%A %e %B %Y") %> </p>


<p>
  <b>Your next step:</b> Wait for <%= @owner %> to follow up with you.
</p>

<p>
  Please reply to this email if you have any feedback or concerns.
</p>

<p>Enjoy the day,</p>

<p>Justin</p>